export VM_IP=192.168.22.120
export VM_SSH_KEY_PATH=../.vagrant/machines/default/virtualbox/private_key

export DOMAIN_NAME=publisher.pytube.vg
export APP_USER=vagrant
export APP_GROUP=vagrant
export APP_REPO=git@github.com:pytube/publisher.git
export DEPLOY_DIRECTORY=/opt/publisher


